# ---------------- PYTHON ----------------

**pycache**/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.python-version

# ---------------- VIRTUAL ENV ----------------

venv/
env/
.venv/
ENV/

# ---------------- ENV FILES (IMPORTANT 🔐) ----------------

.env

# ---------------- DATABASE ----------------

*.sqlite
*.db
*.sqlite3
backend/database/alembic/versions/**pycache**/

# ---------------- LOGS ----------------

*.log

# ---------------- CERTIFICATES (SECURITY) ----------------

backend/CERTS/

# ---------------- IDE / EDITORS ----------------

.vscode/
.idea/
*.swp
*.swo
*~
.project
.pydevproject
.settings/

# ---------------- OS FILES ----------------

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ---------------- FRONTEND / NODE ----------------

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next/
out/
.vercel
.cache/
.parcel-cache/

# ---------------- MISC ----------------

*.bak
*.tmp
*.temp

# ---------------- OPTIONAL ----------------

# Uncomment if needed

# uploads/

# media/
